<h1><%= @station['name'] + '(' + @station['abbr'] + ')'%></h1>

<% @station['etd'].each do |departure| %>
  <h2><%= departure['destination'] %></h2>
  <ul>
    <% if departure['estimate'].count == 7 %>
      <li>A <%= departure['estimate']['length'] %> car train departs in <%= departure['estimate']['minutes'] %> minutes.</li>
    <% else %>
      <%= render partial: 'estimate', collection: departure['estimate'] %>
    <% end %>
  </ul>
<% end %>
