<!DOCTYPE html>
<html>
<head>
  <title>Commuter</title>
  <meta name="viewport" content="initial-scale=1">
  <link rel="icon" type="image/svg+xml" href="/commuter.svg">
  <link rel="icon" type="image/png" href="/commuter.png">
  <link rel="icon" type="image/ico" href="/favicon.ico">
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "flash #{key}" %>
  <% end %>

  <%= yield %>

  <script>
    var stations = new Backbone.Collection;
    stations.reset(<%= @stations.to_json.html_safe %>);
  </script>
</body>
</html>
